%h1= @group.name

- if can? :create_event, @group
  %p= link_to 'Új esemény létrehozása', new_group_event_path(@group), :class => 'btn btn-primary'

.row
  .span8
    %h3 Tagok
    %p= render @group.members
    = debug @group
  .span4
    %h3 Aktivitás
    %table.table.table-striped
      = render @group.activities.order('created_at DESC').limit(5)
