%h1= @group.name

.row
  .span8
    = simple_format(@group.description)
    %h3 Események
    - if can? :create, Event.new(:group => @group)
      %p= link_to 'Új esemény létrehozása', new_group_event_path(@group), :class => 'btn btn-primary'
    = render @group.events
  .span4
    %h3 Tagok
    - if current_user
      - if membership = @group.membership_for(current_user) and can? :destroy, membership
        %p= link_to 'Törlöm magam', membership_path(membership), :method => :delete, :confirm => 'Biztosan törlöd?', :class => 'btn btn-danger'
      - elsif can? :create, Membership
        %p= link_to 'Csatlakozás', group_memberships_path(@group), :method => :post, :class => 'btn btn-success'
    %p= render @group.members
    %h3 Adminok
    %p= render @group.admins
    %h3 Aktivitás
    %table.table.table-striped
      = render @group.activities.order('created_at DESC').limit(5)
