%h1= @group.name

.row
  .span8
    = simple_format(@group.description)
    %h3 Események
    - if can? :create, Event.new(:group => @group)
      %p= link_to 'Új esemény létrehozása', new_group_event_path(@group), :class => 'btn btn-primary'
    = render @group.events
  .span4
    %h3 Tagok
    - if current_user
      - if can? :set_membership, @group
        - if @group.membership_for(current_user)
          %p= link_to '<i class="icon-ok-sign icon-white"></i> Csatlakozás'.html_safe, set_membership_group_path(@group), :confirm => 'Biztosan törlöd?', :class => 'btn btn-success'
        - else
          %p= link_to '<i class="icon-plus-sign icon-white"></i> Csatlakozás'.html_safe, set_membership_group_path(@group), :class => 'btn btn-primary'
    - else
      %p= link_to '<i class="icon-plus-sign icon-white"></i> Csatlakozás'.html_safe, sign_in_path(set_membership_group_path(@group, :protection => true)), :class => 'btn'
    %p= render @group.members
    %h3 Adminok
    %p= render @group.admins
    %h3 Aktivitás
    %table.table.table-striped
      = render @group.activities.order('created_at DESC').limit(5)
