= semantic_form_for @event, :url => url, :html => {:class => 'form-horizontal'} do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :title
    = f.input :description
    = f.input :city
    = f.input :street
    = f.input :start_time
    = f.input :end_time
  = f.buttons
