%h1= @event.title

%h3
  Csoport:
  = link_to @event.group.name, @event.group

.row
  .span8
    = debug @event
  .span4
    %h3 Résztvevők
    - if current_user
      - if participation = @event.participation_for(current_user) and can? :destroy, participation
        %p= link_to 'Törlöm magam', participation_path(participation), :method => :delete, :confirm => 'Biztosan törlöd?', :class => 'btn btn-danger'
      - elsif can? :create, Participation
        %p= link_to 'Részt veszek', event_participations_path(@event), :method => :post, :class => 'btn btn-success'
    %p= render @event.participants
    %h3 Aktivitás
    %table.table.table-striped
      = render @event.activities.order('created_at DESC').limit(5).includes({:activable => :user})
