- if can? :edit, @event
  %p.pull-right= link_to 'Esemény szerkesztése', edit_event_path(@event), :class => 'btn'

%h1= @event.title

.row
  .span8
    .row
      .span4
        %h3
          Csoport:
          = link_to @event.group.name, @event.group
        %strong= @event.gmaps4rails_address
        = simple_format(@event.description)
      .span4
        %p= gmaps :map_options => {:auto_zoom => false, :zoom => 15}, :markers => {:data => @event.to_gmaps4rails}
  .span4
    %h3 Résztvevők
    - if current_user
      - if participation = @event.participation_for(current_user) and can? :destroy, participation
        %p= link_to '<i class="icon-ok-sign icon-white"></i> Részt veszek'.html_safe, participation_path(participation), :method => :delete, :confirm => 'Biztosan törlöd?', :class => 'btn btn-success'
      - elsif can? :create, Participation
        %p= link_to '<i class="icon-plus-sign icon-white"></i> Részt veszek'.html_safe, event_participations_path(@event), :method => :post, :class => 'btn btn-primary'
    - else
      %p= link_to '<i class="icon-plus-sign icon-white"></i> Részt veszek'.html_safe, sign_in_path(set_event_participations_path(@event)), :class => 'btn'
    %p= render @event.participants
    %h3 Aktivitás
    %table.table.table-striped
      = render @event.activities.order('created_at DESC').limit(5).includes({:activable => :user})
