%span{:id => "tagging_button_for_tag_#{tag.id}"}
  - if tagging = tag.tagging_for(current_user)
    = link_to "<i class='icon-ok-sign icon-white'></i> #{tag.name}".html_safe, tagging, :method => :delete, :class => 'btn btn-success', :remote => true
  - else
    = link_to "<i class='icon-plus-sign icon-black'></i> #{tag.name}".html_safe, tag_taggings_path(tag), :method => :post, :class => 'btn', :remote => true
