- case activity.activable.class.name
  - when 'Group'
    %tr
      %td
        = link_to activity.activable.user.name, activity.activable.user
        létrehozta a
        = link_to activity.activable.name, activity.activable
        csoportot.
        .date= activity.created_at
  - when 'Event'
    %tr
      %td
        = link_to activity.activable.user.name, activity.activable.user
        létrehozta a
        = link_to activity.activable.title, activity.activable
        eseményt.
        .date= activity.created_at
