= div_for activity do
  .avatar= user_avatar activity.activable.user
  - case activity.activable.class.name
    - when 'Event'
      = t('activity.event_created', :user => user_link(activity.activable.user), :event => link_to(activity.activable.title, activity.activable)).html_safe
    - when 'Follow'
      = user_link activity.activable.user
      követi a
      = link_to activity.activable.group.name, activity.activable.group
      csoportot.
    - when 'Group'
      = user_link activity.activable.user
      létrehozta a
      = link_to activity.activable.name, activity.activable
      csoportot.
    - when 'Membership'
      = user_link activity.activable.user
      tagja lett a
      = link_to activity.activable.group.name, activity.activable.group
      csoportnak.
    - when 'Participation'
      = user_link activity.activable.user
      jelentkezett a
      = link_to activity.activable.event.title, activity.activable.event
      eseményre.
  .date= time_ago_in_words activity.created_at
