!!!
%html
  %head
    %title OpenMeetup
    %meta{'http-equiv' => 'content-type', :content => 'text/html; charset=utf-8'}
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag 'application', :media => 'all'
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          :plain
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
          = link_to 'OpenMeetup', root_path, :class => 'brand'
          .nav-collapse
            %ul.nav
              %li{:class => (controller.controller_name == 'root' ? 'active' : '')}= link_to t('menu.home'), root_path
            %form.navbar-search.pull-left
              %input{:type => 'text', :class => 'search-query', :placeholder => t('menu.search')}
            %ul.nav.pull-right
              - if current_user
                %li.dropdown
                  %a.dropdown-toggle{'data-toggle' => 'dropdown'}
                    = t('menu.language')
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to 'English', '?locale=en'
                    %li= link_to 'Magyar', '?locale=hu'
                %li.dropdown
                  %a.dropdown-toggle{'data-toggle' => 'dropdown'}
                    = current_user.name
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to t('menu.profile'), current_user
                    %li= link_to t('menu.exit'), signout_path
              - else
                - if Rails.env == 'development'
                  %li= link_to 'Π', '/auth/developer'
                %li= link_to image_tag('facebook-connect-button.png', :alt => t('menu.login_with_facebook')), '/auth/facebook'
    #content.container
      - if flash[:notice]
        .alert.alert-success
          %a.close(data-dismiss="alert")×
          = flash[:notice]
      - if flash[:alert]
        .alert.alert-error
          %a.close(data-dismiss="alert")×
          = flash[:alert]
      = yield
    = javascript_include_tag 'application'
    = yield :scripts
    :javascript
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/YhkXSmNFETvmczrhBpGgeg.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
