<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link href="bootstrap-email.css" rel="stylesheet" type="text/css" />
  <link href="all/main.css" rel="stylesheet" type="text/css" />
  <style type="text/css">
    body {
      padding-top: 0;
    }
    .wrapper-container {
      margin: 20px auto;
      width: 600px;
    }
    .wrapper {
    }
    .breadcrumbs a {
      border-radius: 5px 0 0 0;
      display: inline-block;
      float: none;
    }
    .email-footer {
      font-size: .9em;
      padding: 0 20px 20px 20px;
    }
    .wrapper .list_view {
      border-radius: none;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <table style="background: #e9eaed; width: 100%;" bgcolor="#e9eaed">
    <tr>
      <td>
        <div class="wrapper-container">
          <div class="wrapper">
            <div class="breadcrumbs">
              <a href="<%= Settings.host %>"><%= Settings.title %></a>
            </div>
            <%= yield %>
          </div>
          <div class="email-footer">
            <%= tr("This message was sent to {email}.", "email footer email recipient", email: @email) %><br />
            <% if @recipient %>
              <%= tr("Don't want activity notifications?") %> <a href="<%= settings_user_path(@recipient) + '#change_email' %>"><%= tr('Change your email preferences') %></a>.<br />
            <% end %>
            <%= Settings.email_footer_whois %>
          </div>
        </div>
      </td>
    </tr>
  </table>
</body>
</html>
